{% extends "base.html" %}
{% load static %}
{% block cuerpo %}
<div class="row">
  <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
    <h1>Editar Vehículo</h1>
    <div class="card">
      <div class="card-body">
        <form action="{% url 'editarVehiculo' %}" method="POST">
          {% csrf_token %}

          <div class="form-group">
            <input type="text" id="txtid_vehiculo" name="txtid_vehiculo" class="form-control" value="{{ misvehiculos.id_vehiculo }}" readonly required>
          </div>

          <div class="form-group py-3">
            <input type="text" id="txtmarca" name="txtmarca" class="form-control" value="{{ misvehiculos.marca }}" maxlength="100" required>
          </div>

          <div class="form-group py-3">
            <input type="text" id="txtmodelo" name="txtmodelo" class="form-control" value="{{ misvehiculos.modelo }}" maxlength="100" required>
          </div>

          <div class="form-group py-3">
            <input type="number" id="numanio" name="numanio" class="form-control" value="{{ misvehiculos.anio }}" required>
          </div>

          <div class="form-group py-3">
            <input type="text" id="txtcolor" name="txtcolor" class="form-control" value="{{ misvehiculos.color }}" maxlength="100" required>
          </div>

          <div class="form-group py-3">
            <input type="number" id="numprecio" name="numprecio" class="form-control" value="{{ misvehiculos.precio }}" required>
          </div>

          <div class="form-group py-3">
            <input type="number" id="numkilometraje" name="numkilometraje" class="form-control" value="{{ misvehiculos.kilometraje }}" required>
          </div>

          <div class="form-group py-2">
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
